@media(max-width: 992px){
    .course-container{
        grid-template-columns: repeat(2,1fr);
    }
    .about-container{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
    .whyUs-container{
        grid-template-columns: repeat(1,1fr);
    }
    .WhyUs-info{
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        align-items: center;
        padding-top: 50px;
    }
    .footer-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        gap: 30px;
    }
    .footer-b-container{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        padding-top: 25px;
        text-align: center;
    }
}
@media(max-width:768px){
    .nav-menu{
        position: fixed;
        top: 0;
        right: -100%;
        width: 40%;
        height: 100%;
        background-color: #ffffff;
        padding: 80px 30px;
        flex-direction: column;
        transition: all 0.7s ease;
    }
    .nav-menu a{
        color: #374050;
    }
    .nav-menu.active{
        right: 0;
    }
    .hamburger.active .line:nth-child(2){
        background: transparent;
    }
    .hamburger.active .line:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .line:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    }
    .hamburger{
        display: block;
        position: fixed;
        right: 30px;
    }
    .hero-container h1{
        font-size: 3rem;
    }
    .hero-container p{
        font-size: 1.5rem;
        max-width: 100%;
    }
    .paralax-container{
        align-items: center;
        text-align: center;
    }
    .paralax-container h3{
        font-size: 2.5rem;
        max-width: 90%;
    }
    .paralax-container p{
        color: #e6e6e6;
        font-size: 1.6rem;
        font-weight: 400;
        max-width: 75%;
    }
    .course-title p {
        font-size: 1.6rem;
        max-width: 75%;
    }
    .why-us-title p {
        font-size: 1.6rem;
        max-width: 75%;
    }
    .contact-container p {
        font-size: 1.6rem;
        max-width: 75%;
    }
}

@media(max-width:568px){
    .navbar{
        padding: 0 10px;
    }
    .nav-menu{
        width: 50%;
    }
    .nav-menu a{
        font-size: 1.4rem;
    }
    .hamburger{
        display: block;
        position: fixed;
        right: 10px;
    }
    .hero-container{
        align-items: center;
        text-align: center;
        padding: 0 10px;
    }
    .hero-container h1{
        font-size: 2.8rem;
    }
    .hero-container p{
        font-size: 1.4rem;
        max-width: 80%;
    }
    .hero-container .h-btn{
        font-size: 1.2rem;
    }
    .about-container {
        padding: 0 10px;
    }
    .course-title {
        padding: 0 10px;
    }
    .course-container {
        grid-template-columns: repeat(1,1fr);
        padding: 0px 10px;
        padding-top: 50px;
        padding-bottom: 25px;
    }
    .about-title h2 {
        font-size: 2.5rem;
    }
    .about-title p {
        font-size: 1.4rem;
    }
    .course-title h2 {
        font-size: 2.5rem;
    }
    .course-title p {
        font-size: 1.4rem;
    }
    .paralax-container {
        padding: 30px 10px;
    }
    .paralax-container h3 {
        font-size: 2rem;
    }
    .paralax-container p {
        font-size: 1.4rem;
    }
    .why-us-title h2 {
        font-size: 2.5rem;
    }
    .why-us-title p {
        font-size: 1.4rem;
    }
    .contact-container h2 {
        font-size: 2.5rem;
    }
    .contact-container p {
        font-size: 1.4rem;
    }
    .foot-b-detaile p {
        font-size: 1.2rem;
    }
    .why-us-title {
        padding: 0 10px;
    }
    .whyUs-container {
        padding: 0 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .WhyUs-info {
        padding: 0 10px;
        padding-top: 50px;
    }
    .WhyUs-right {
        width: 100%;
    }
    .contact-container {
        padding: 0 10px;
        height: 100%;
        z-index: 100;
        gap: 10px;
    }
    .footer-container {
        padding: 0 10px;
        padding-top: 50px;
        gap: 30px;
    }
    .footer-bottom {
        padding: 25px 10px;
    }
}

@media(max-width: 400px){
    .logo a img{
        width: 80px;
    }
    .nav-menu a{
        font-size: 1.2rem;
    }
    .hero-container h1{
        font-size: 2.5rem;
    }
    .hero-container p{
        font-size: 1.2rem;
        max-width: 90%;
    }
}